
@font-face {
  font-family: anakotmai;
  src: url(../fonts/anakotmai-bold.eot);
  src: url(../fonts/anakotmai-bold.woff);
  src: url(../fonts/anakotmai-light.eot);
  src: url(../fonts/anakotmai-light.woff);
  src: url(../fonts/anakotmai-medium.eot);
  src: url(../fonts/anakotmai-medium.woff);
}
*,html,body{
  box-sizing: border-box;
  font-family: 'anakotmai', sans-serif !important;
}
html,body{
  scroll-behavior: smooth !important;
}
.carousel-control-next, .carousel-control-prev {
  background: transparent;
  border: none;
}
.menu-bar{
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  background-color: #8e0022;
}
.bg-main-color{
  background-color: #232323;
}

.bg-main{
  background-image: url(../img/BG-web.PNG);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.bg-game{
  background-image: url("../img/GameBar.png");
  width: 100%;
  height: 1700px;
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: cover;
  width: 100%;
  height: 100%;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.centered-logo {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.centered-logo-footer {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.centered-bottom{
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.icon-menu{
  min-width: 28px;
  width: 28px;
  height: 28px;
}

.menu-main{
  display: flex;
  background: #0400013d;
  border-radius: 50px;
  padding: 0px 15px;
  align-items: center;
}
.menu-main a{
  color: #fff;
  font-size: 22px;
}

.w-90{
  width: 90%;
}

.promotion{
  background: #0000007a;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 102px;
  margin-top: 45px;
}
.login-all{
  background: #0000007a;
  text-align: center;
  border-radius: 20px;
  margin-top: 50px;
}
.text-login{
  background: #dfdfdf;
  border-radius: 20px 20px 0px 0px;
  padding: 15px 0px 10px;
}
.content-main{
  background: #232323;
  border-style: solid;
  border-color: #ff000000 #FFD400 #FFD400 #FFD400;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}
.container-fluid{
  padding: 0px 20%;
}
.login-signup{
  z-index: 99;
}
#circle {
  position: relative;
  width: 100%;
  height: 132px;
  overflow: hidden;
  top: -1px;
}
#circle:after {
  width: 100%;
  height: 200px;
  background: #0000007a;
  border-radius: 50%;
  display: block;
  content: '';
  position: absolute;
  top: -114px;
}
.color-yellow{
  color: #ffd400;
}
.text-description-pro{
  color: #fff;
}
.slot-gift{
  position: absolute;
  left: 9%;
}
.game-list{
  margin-top: 18%;
}
.game-list img{
  cursor: pointer;
}
.slide-jackpot{
  margin-top: 25%;
}
.center-all{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup-bar{
  padding-bottom: 18%;
}
.footer{
  margin-top: -8%;
}

.footer-menu {
  position: absolute;
  top: 52%;
  left: 17%;
  transform: translate(-50%, -50%);
}
.footer-menu a{
  color: #fff;
  line-height: 15px;
}
.footer-menu a:hover{
  color: rgba(255, 255, 255, 0.493);
}
.line {
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  right: 0;
  z-index: 1;
  width: 29%;
  text-align: end;
}
.menuBar-new{
  height: 150px;
}
.logo{
  height: 190px;
}
.game-sub{
  background-color: #232323;
  display: flex;
  justify-content: center;
}
.border-yellow{
  border-top: 2px solid #ffd400;
  border-bottom: 2px solid #ffd400;
}
img.logo-footer {
  width: 220px;
}

.game-logo{
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
}
.logo-game{
  width: 110px;
  cursor: pointer;
}

.promotion-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: repeat(auto-fill, minmax(20%, 1fr));

  }
  
  .promotion-div1 { grid-area: 1 / 1 / 2 / 2; }
  .promotion-div2 { grid-area: 1 / 2 / 2 / 3; }
  .promotion-div3 { grid-area: 1 / 3 / 2 / 4; }
  .promotion-div4 { grid-area: 2 / 1 / 3 / 2; }
  .promotion-div5 { grid-area: 2 / 2 / 3 / 3; }
  .promotion-div6 { grid-area: 2 / 3 / 3 / 4; }
  .promotion-div7 { grid-area: 3 / 1 / 4 / 4; }


  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 10px 80px 50px 60px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }
    .div7 { grid-area: 3 / 1 / 4 / 2; }
    .div8 { grid-area: 3 / 2 / 4 / 3; }
    .div9 { grid-area: 3 / 3 / 4 / 4; }
    .div10 { grid-area: 4 / 1 / 5 / 2; }
    .div11 { grid-area: 4 / 2 / 5 / 3; }
    .div12 { grid-area: 4 / 3 / 5 / 4; }
    .div13 { grid-area: 5 / 1 / 6 / 2; }
    .div14 { grid-area: 5 / 2 / 6 / 3; }
    .div15 { grid-area: 5 / 3 / 6 / 4; }

@media (max-width: 400.98px) {
 
}

@media (max-width: 767.98px) {  }


@media (max-width: 991.98px) { 

 }




 @media (max-width: 1600px) { 
  .text-description{
    color: #fff;
    line-height: 25px;
    margin-top: 26px;
    text-align: justify;
    font-size: 1vw;
    text-justify: inter-word;
    margin-top: 9%;
  }

  .game-sub{
    margin-top: 150px;
  }
}

 @media (min-width: 1601px) { 
    .text-description {
      color: #fff;
      line-height: 28px;
      margin-top: 26px;
      text-align: justify;
      font-size: 1vw;
      text-justify: inter-word;
      margin-top: 8%;
  }
  .game-sub{
    margin-top: 150px;
  }

  .footer {
    margin-top: -8%;
}

 }

 @media (max-width: 1378px) { 

  .text-description{
    color: #fff;
    line-height: 21px;
    margin-top: 26px;
    text-align: justify;
    font-size: 1vw;
    text-justify: inter-word;
    margin-top: 9%;
  }
   .login-signup{
    width: 260px;
    display: flex;
    justify-content: center;
   }

  .icon-menu {
    min-width: 22px;
    width: 22px;
    height: 22px;
  }

  .container-fluid {
    padding: 0px 20%;
  }
  .menu-main a {
    color: #fff;
    font-size: 15px;
  }
  .game-sub {
    margin-top: 120px;
  }
    .menuBar-new {
      height: 120px;
  }
    .logo {
      height: 160px;
      margin-top: 2%;
  }
  .footer-menu a {
    line-height: 12px;
    font-size: 1vw;
  }
  .centered-logo {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
 }

 @media (max-width: 1200px) { 
  .game-sub {
    margin-top: 147px;
  }
 }


  